body{
	background-image: url(../img/wturismo.jpg);
}

.complete{
	background-color: rgba(255,255,255,0.8) !important;
	height: 2800px;
}

.logo{
	width: 10rem !important;
}

div{
	padding: 5px !important;
}

div[class*="cont"]{
	min-height: 5rem !important;
	
}

.imgRS{
	width: 4rem;
}

.imgGal{
	width: 100% !important;
	height: 100% !important;
}

.imgI{
	width: 50% !important;
}

.imgA{
	padding-top: 2rem !important;
	width: 50% !important; 
}

.container{
	background: url("img/w.jpg") !important;
    background-repeat: no-repeat !important;
    height: 100vh !important;
    background-size: cover !important;
}


