body{
	background-image: url(../img/wcomida.jpg);
}

.imgCom{
	width: 80%;
}

div .callout{
	background-color:rgba(255,255,255,0.6);
}

.cont{
	background-color: #F5F5F5 !important;
}

.imgFav{
	width: 100%;
}